* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 15, 15);
    height: 60px;
    list-style: none;
    gap: 40px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.content {
    /* padding-top: 20px; */
    background-color: rgb(252, 241, 241);
}

section {
    height: 80vh;
    padding: 50px;
    color: rgb(76, 15, 15);
}

h1 {
    margin-top: 25px;
    font-size: 40px;
}

p {
    margin-top: 25px;
}
.copyright{
    color: white;
    height: 50px;
    background-color: rgb(35, 12, 12);
    display: flex;justify-content: center;
    align-items: center;
}

.scrolled {
    background-color: rgb(35, 12, 12);
}
@media (max-width : 450px) {
    .menu{
        gap: 10px;
        background-color: rgb(35, 12, 12);
    }
    section{
        height: 300px;
        padding: 50px;
        margin-top: 20px;
        text-align: center;
    }
    h1 {
        margin-top: 25px;
        font-size: 30px;
    }
    .menu-item a {
        font-size: 15px;
    }
  
}